html {
    color: #222;
    font-family: 'open Sans', Verfana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    line-height: 1.4;
}

textarea {
    resize: vertical;
}

img {
    width: 100%;
}

h1 {
    color:#000;
}

/* LAYOUT */
div, section, footer, header {
    border: 1px solid #ccc
}

.column {
    background-color: rgb(215, 224, 224);
    margin: 1rem;
    justify-content: center;
    align-items: center;
}

.heading {
    text-align: center;
    justify-content: center;
}

/* Small only */
@media screen and (max-width: 39.9375em) {}

/* Medium and up */
@media screen and (min-width: 40em) {
    .row {
        display: grid;
        width: 85vw;
        max-width: 70rem;
        margin: 0 auto;
    }

    .m-col-2 {
        grid-template-columns: 1fr 1fr;
    }

    .m-col-3 {
        grid-template-columns: repeat(3, 1fr);
    }

    .m-col-4 {
        grid-template-columns: repeat(4, 1fr);
    }

    .m-col-5 {
        grid-template-columns: repeat(5, 1fr);
    }

    .m-1-2 {
        grid-template-columns: 1fr 2fr;
    }

    .span-full {
        grid-column-start: 1;
        grid-column-end: -1;
    }

}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .special-project {
        grid-column-start: 1;
        grid-column-end: -1;
    }
}

/* Large and up */
@media screen and (min-width: 64em) {
    .l-col-2 {
        grid-template-columns: 1fr 1fr;
    }

    .l-col-3 {
        grid-template-columns: repeat(3, 1fr);
    }

    .l-col-4 {
        grid-template-columns: repeat(4, 1fr);
    }

    .l-col-5 {
        grid-template-columns: repeat(5, 1fr);
    }

    .l-col-6 {
        grid-template-columns: repeat(6, 1fr);
    }
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {}


/* MODULES */




/* THEME */
.page__slider {
    background-color: azure;
}

.page__footer {
    background-color: rgb(21, 21, 39);
}

